// App global CSS
require('typeface-montserrat')

// Adding custom color named 'brand'
.text-brand
  color: #01B142

.bg-brand
  background: #01B142

body
  // font-family: Comfortaa, sans-serif
  font-family: Montserrat, sans-serif
