// App global CSS
@import url('../assets/fonts/Exo2/Exo2.css')
// @import url('../assets/fonts/Montserrat/Montserrat.css')
// @import url('../assets/fonts/MontserratAlternates/MontserratAlternates.css')

// Adding custom color named 'brand'
.text-brand
  color #01B142

.bg-brand
  background #01B142

body
  font-family: Exo2, sans-serif
  // font-family: Comfortaa, sans-serif
  // font-family Montserrat, sans-serif
  // font-family 'Montserrat Alternates', sans-serif
